<div class="center jumbotron">
<h1>Welcome to the homepage</h1>

<h2>
    This is the toy app add yourself as user and add microposts.
    
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>

